
#juxtalearn-clipit-client/lib
#juxtalearn-clipit-client/php/juxtalearn-cookie-authentication
#custom-functions/conditional_script.php
#wp-accessify


Thumbs.db
.DS_Store
*- Copy.*

wp-config.php
wp-content/plugins/wordpress-importer
wp-content/plugins/wp-evidence-hub
wp-content/plugins/wp-juxtalearn-hub
wp-content/themes/tiny-forge

/test.php
/_dev
/*.sql
*.diff
*.patch
*.log
*.pot
*.po
*.mo


#End.
