[submodule "wordpress"]
	path = wordpress
	url = https://github.com/WordPress/WordPress.git
[submodule "wp-evidence-hub"]
	path = wp-evidence-hub
	url = https://github.com/mhawksey/wp-evidence-hub.git
[submodule "wordpress-importer"]
	path = wordpress-importer
	url = https://github.com/svn2github/wordpress-importer.git
[submodule "wp-juxtalearn-hub"]
	path = wp-juxtalearn-hub
	url = https://github.com/mhawksey/wp-juxtalearn-hub.git
[submodule "tiny-forge"]
	path = tiny-forge
	url = https://github.com/svn2github/tiny-forge.git
