
/* Simplify the admin UI for teachers - "role-editor"
*/
.wp-admin.X-role-editor #menu-dashboard,
.wp-admin.role-editor #menu-posts,
.wp-admin.role-editor #menu-media,
.wp-admin.role-editor #menu-pages,
.wp-admin.role-editor #menu-comments,
.wp-admin.role-editor #menu-appearance,
.wp-admin.role-editor #menu-plugins,
.wp-admin.role-editor #menu-tools,
.wp-admin.role-editor #menu-settings,
.wp-admin.role-editor #toplevel_page_juxtalearn_hub,
.role-editor #wp-admin-bar-new-post,
.role-editor #wp-admin-bar-new-media,
.role-editor #wp-admin-bar-new-page,
.wp-admin.role-editor #dashboard_right_now #wp-version-message,
.wp-admin.role-editor #dashboard_quick_press,
.wp-admin.role-editor #dashboard_recent_comments,
.wp-admin.role-editor #dashboard_incoming_links,
.wp-admin.role-editor #dashboard_primary,
.wp-admin.role-editor #dashboard_secondary,
.wp-admin.role-editor #postexcerpt {
  display: none;
}


/* 'debug' body class.
*/
.debug .jlq-stumbles-inner label { line-height: 2.4em; }
.debug input[type = checkbox] { margin-right: 3em; }
.debug input[type = checkbox]:after {
  display: inline-block;
  content: " SB:" attr(value);
  font-size: .9em;
  height: 1.2em;
  width: 2em;
}



#wp_juxtalearn_hub_student_problem_tax_tool_section :focus {

  outline: 2px solid blue;

}
