/* IET_Custom_Style_Plugin.
*/

.X-test-site .site-header h1 a {
  color: orange;
}

.trickytopic-juxtalearn-net .site-header h1 {
  padding-left: 0.1em;
  letter-spacing: 0.12em;
}

.evidence-laceproject-eu .site-header h1 {
  letter-spacing: 0.03em;
}


.entry-header .entry-title {
  color: #333;
}


/* SVG maps, charts and logos.
*/
.trickytopic-juxtalearn-net svg #barchart .positive,
.trickytopic-juxtalearn-net svg #map circle.positive {
  fill: #32b4e5;
}

.evidence-laceproject-eu svg #barchart .positive,
.evidence-laceproject-eu svg #map circle.positive {
  fill: #43672B;  /* LACE green */
}
.evidence-laceproject-eu svg #barchart .negative,
.evidence-laceproject-eu svg #map circle.negative {
  fill: #596190;  /* LACE blue */
}

.evidence-laceproject-eu #iet-attribution-logo svg g {
  fill: #43672B;
}
.trickytopic-juxtalearn-net #iet-attribution-logo svg g {
  fill: #1daa9e;
}


/* LACE menu link(s).
*/
.evidence-laceproject-eu .main-navigation li a[href *= 'www.laceproject'],
.evidence-laceproject-eu .main-navigation .menu-item-121 > a {
  x-display: inline-block;
  text-transform: none; /*uppercase*/
  background: #fcfcfc;
  color: #43673B;
  border: 1px solid #43672B;
  border-radius: 3px;
  line-height: 1.6em;
  padding: 3px 10px;
  font-weight: bold;
  font-size: 1.15em;
}

.evidence-laceproject-eu .main-navigation .menu-item-121 > a {
  border-style: dashed;
}


/*.type-page a[href *= 'page_id=114']:after {
  content: " (lock) ";
}*/

a[href] .icon-webfont {
  font-size: .85em;
  display: inline-block;
  padding-left: 4px;
  text-decoration: none;
  color: red;
}
a[href] .el-icon-user {
  display: none;
}


.tagcloud.x_display_count-after a:after {
  content: "(" attr( title ) ")";
  display: inline-block;
  padding: 0 0.5em;
  text-decoration: none;
  color: #222;
}


/* ===================================================== */

/* JuxtaLearn ClipIt menu link.
*/
.trickytopic-juxtalearn-net .main-navigation li {
  margin: 0 1.7rem 0 0;  /*right: 2.85rem, 2rem*/
}
.trickytopic-juxtalearn-net .main-navigation li:last-child {
  margin: 0;
}
/* Option:jxl_menu_clipit_selector */
.trickytopic-juxtalearn-net .main-navigation ul > .menu-item-type-custom a[href *= clipit] {
  text-transform: none;  /*uppercase*/
  color: #32b4e5;  /* Option:jxl_menu_clipit_color */
  background: #fbfbfb;
  border: 1px solid #32b4e5; /*#0066cc, #32b4e5, #f7931e*/
  border-radius: 3px;
  line-height: 1.6em;
  padding: 3px 11px;
  font-weight: bold;
  font-size: 1.15em;
}
.trickytopic-juxtalearn-net .main-navigation ul > .menu-item-type-custom a[href *= clipit]:hover {
  background: #f6f6f6;
  border-color: #fc9f00;
  color: #fc9f00;  /*orange*/
}


/* JuxtaLearn - quiz score visualizations.
*/
#jlq-score h2 {
  font-size: 1.4em;
  margin: .3em 0;
}
#jlq-score table th, #jlq-score table td {
  font-size: 1.3em;
  min-width: 7em;
}

/* ===================================================== */

/* JuxtaLearn print CSS [Bug: #31]

  TODO:  Inject author-name in quiz..
*/

.entry-title {
  width: 90%;
}
button.jxl-print {
  background-color: #ddd;
  color: #333; /*rgb(51, 51, 51)*/
  font-size: 1em;
  float: right;
  padding: 3px 6px;
  position: relative;
  top: -2em;
}
.wp-admin .jxl-print {
  background: #eee;
  position: static;
  font-size: .6em;
  cursor: pointer;
}
.jxl-print i:before /*, .dashicons-lightbulb:before*/ {
  font-family: "dashicons";
  content: "\f339";
  font-style: normal;
  display: inline-block;
  padding: 0 4px 0 0;
}
.home.page .jxl-print {
  display: none;
}

@media print {

  .entry-content {
    text-align: left;
  }

  .entry-content a:link:after,
  .entry-content a:visited:after {
    font-size: 0.8em;
    letter-spacing: -0.05em;
  }

  button.jxl-print,
  #adminmenuwrap, #wpadminbar,
  .message, .updated,
  .wp-admin .leaflet-container,
  .wp-admin .add-new-h2,
  .wp-admin #wpfooter,
  .wp-admin #screen-options-link-wrap,
  .wp-admin #ed_toolbar,
  .wp-admin #wp-content-editor-tools,
  .wp-admin a.button,
  #jlq-links-recent-switch {
    display: none;
  }

  .wp-admin #wpcontent {
    margin-left: 0;
  }

  .wp-admin .wp-editor-area {
    height: 18em !important;
    margin-top: 1em !important;
  }

  .wp-admin .wp-editor-wrap {
    padding: 0 !important;
    margin: 1em 0;
    position: static;
  }

  .wp-admin .postbox {
    page-break-inside: avoid;
  }

  .wp-admin.js .postbox.closed .inside {
    display: block;
  }
}


/* Slick Quiz print CSS.
*/
@media print {

  .slickQuizWrapper .questions li.question {
    display: block;
  }

  .slickQuizWrapper a.button,
  .slickQuizWrapper .questionCount {
    display: none !important;
  }

}


/*End. */
