/* Tested with Tiny Forge theme for WordPress.
*/

.simple-embed .site > header,
.simple-embed .site > footer,
#wpadminbar,
#secondary {
  display: none;
}

body.custom-background.simple-embed {
  background: #fcfcfc;
}

html.simple-embed {
  margin: 0 !important;
}

html body.simple-embed .site {
  margin: 0;
  padding: 2px; /*1em*/
  box-shadow: none;
  max-width: 100%;
  background: transparent;
}

.simple-embed .site-content {
  margin: 0;
  float: none;
  width: 100%;
}

.simple-embed.page .site-content article.type-page {
  margin-bottom: 0;
}

/* Hide comments in various ways.
*/
.se-no-comments #comments,
.shortcode-juxtalearn_quiz.simple-embed #comments,
.shortcode-quiz_score.simple-embed #comments,
.shortcode-juxtalearn_quiz.simple-embed .entry-header {
  display: none;
}

.shortcode-juxtalearn_quiz.simple-embed h2.quizName {
  margin-top: 0;
}
